.avatar {
  margin: 3rem 0;
  width: min-content;
  position: relative;

  & img {
    aspect-ratio: 1 / 1;
    width: 8rem;
    border-radius: 1rem;
    background-size: cover;
  }

  & .border {
    position: absolute;
    inset: -0.5rem;

    & div {
      position: absolute;
      background: var(--color-divider);
    }

    & .left,
    .right {
      top: -2rem;
      bottom: -2rem;
      width: 1px;

      -webkit-mask-image: linear-gradient(
        to top,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
      mask-image: linear-gradient(
        to top,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
    }

    & .top,
    .bottom {
      left: -2rem;
      right: -2rem;
      height: 1px;

      -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
      mask-image: linear-gradient(
        to right,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
    }

    & .top {
      top: 0;
    }

    & .bottom {
      bottom: 0;
    }

    & .right {
      right: 0;
    }

    & .left {
      left: 0;
    }
  }
}
