.about {
  & h1 {
    font-size: 2rem;
    margin-bottom: 0.3rem;
  }

  & h2 {
    font-size: 1.4rem;
    margin-bottom: 0.3rem;
  }

  & p {
    margin: 0;
  }

  & .location {
    display: flex;
    column-gap: 0.4rem;
    align-items: center;
    margin-top: 0.3rem;
    font-size: 0.9rem;
  }
}

.avatar {
  margin: 3rem 0;
  width: min-content;
  position: relative;

  & img {
    box-shadow: 0px 0px 400px 0px var(--color-primary);
    aspect-ratio: 1 / 1;
    width: 8rem;
    border-radius: 1rem;
    background-size: cover;
  }

  & .border {
    position: absolute;
    inset: -0.5rem;

    & div {
      position: absolute;
      background: var(--color-divider);
    }

    & .left,
    .right {
      top: -2rem;
      bottom: -2rem;
      width: 1px;

      -webkit-mask-image: linear-gradient(
        to top,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
      mask-image: linear-gradient(
        to top,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
    }

    & .top,
    .bottom {
      left: -2rem;
      right: -2rem;
      height: 1px;

      -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
      mask-image: linear-gradient(
        to right,
        transparent,
        white 4rem,
        white calc(100% - 4rem),
        transparent
      );
    }

    & .top {
      top: 0;
    }

    & .bottom {
      bottom: 0;
    }

    & .right {
      right: 0;
    }

    & .left {
      left: 0;
    }
  }
}

.description {
  & em {
    font-weight: normal;
    font-style: normal;
    color: var(--primary-600);
  }

  & .wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}

.links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  font-size: 1.3rem;
}
