.content {
  overflow: hidden;
  position: relative;
  // Height is controlled in the component itself
  transition: height 0.2s ease-in-out;

  &:not(.expanded)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(transparent, var(--background-color));
  }
}

.btn {
  text-decoration: underline;
  background: none;
  color: var(--font-color);
  border: none;
  margin-block: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  &:hover {
    color: var(--primary-400);
  }

  &:active {
    color: var(--primary-300);
  }
}
