.content {
  max-height: 75px;
  overflow: hidden;
  position: relative;
  // TODO: feels very choppy, look into alternate ways to animate
  transition: max-height 0.15s ease-out;

  &.expanded {
    max-height: 2000px;
    transition: max-height 0.25s ease-in;
  }

  &:not(.expanded)::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    background: linear-gradient(transparent, var(--background-color));
  }
}

.btn {
  text-decoration: underline;
  background: none;
  color: var(--font-color);
  border: none;
  margin-block: 0.8rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  cursor: pointer;

  &:hover {
    color: var(--primary-500);
  }

  &:active {
    color: var(--primary-300);
  }
}
